/*hero image*/

.fs-header:before {
    background-image: 
   url("https://nossonsshul.com/media/images/1319/BUXu13197469.png");
   background-size:100% 100%;
   }
   .fs-header .page-header h1 small, body > div > div > div.jumbotron.fs-header > div > div > h1 > span, .fs-header .page-header h2{
    opacity:0;
   }
   /*donate now and about campaign */
.donate-button .donate-button-text {
    background:#40DFAF;
  border-radius: 25px !important;
  color:#3B244D;
  font-weight: bold !important;
  }
  .donate-button .donate-button-text:hover{
    background: #3B244D;
    color: #FFF;
  }