/*hero image*/

.fs-header:before {
    background-image: 
   url("https://nossonsshul.com/media/images/1319/KLYz13197502.png");
   background-size:100% 100%;
   }
   .fs-header .page-header h1 small, body > div > div > div.jumbotron.fs-header > div > div > h1 > span, .fs-header .page-header h2{
    opacity:0;
   }

           /*remove logo*/
           .fs-header-top .fs-logo-container{
            display:none !important;
        }
        .fs-header-top{
            border:none !important;
        }
   /*donate now and about campaign */
.donate-button .donate-button-text {
    background:#fee549;
  border-radius: 25px !important;
  color:#FFF;
  font-weight: bold !important;
  }
  .donate-button .donate-button-text:hover{
    background: #68c4d1;
    color: #FFF;
  }

    /*goal section*/
    .jumbotron.fs-header {
        border-bottom: 4px solid #00517c !important;
    }
    .fs-goal{
    background:#00517c !important;
    }
    .col-md-6.text-xs-center.text-md-right.fs-goal-text, .fs-goal .fs-goal-text strong, .fs-goal .fs-goal-text .fs-goal-amount{
        color:#fff !important;
    }
    .fs-goal .fs-goal-graph-container .fs-goal-graph-text span
    {
        color:#68c4d1 !important;
    }
    /*goal meter  filled and then not filled*/
    .fs-goal-graph-fill{
        background: #fff !important;
    }
    .fs-goal-graph{
        background: #fee549 !important;
    }

    /*countdown*/
.fs-countdown {
    background:#68c4d1 !important;
    border-radius:35px !important;
    }
    .fs-countdown-number, .fs-countdown-sep{
      color:#fff !important;
    }
    
    /*maximize in countdown*/
    .fs-countdown h3 strong {
        color:#fff;
    }
    .fs-countdown .fs-countdown-widget .fs-countdown-unit .fs-countdown-description{
        color:#fff !important;
    }
    
  /*donate section*/
  .donar-section{
    background: #fee549;
    }
    .donar-section .nav-tabs .nav-item.active .nav-link, .donar-section .nav-tabs .nav-item:hover .nav-link,.donar-section .nav-tabs .nav-item:hover .nav-link{
        border-bottom:3px solid #00517c !important;
    }
    .donar-section .nav-tabs .nav-item.active .nav-link, .donar-section .nav-tabs .nav-link{
        color:#00517c !important;
    }
     /*"view all donors / be the first"*/
   .js-donors-list .fs-btn,.js-donors-list .fs-btn:hover{
    background:#00517c;
    border-radius: 25px !important;
    }
   
    /*footer*/
    .fs-footer {
        background: #00517c;
        border-top: 1px solid #00517c;
    }
    .fs-footer .row>div:nth-of-type(1) h3, .fs-footer .row>div:nth-of-type(2) h3 , address {
        color:#FFF;
    }

